.footer{
    background-color: var(--main-color);
    width: 100%;

}

.cr-area{
    padding: 15px;
    color: var(--forth-color);
    text-align: center;
    background-color: var(--main-dark-color);
}