

.App {
  text-align: center;
}

/* ------------------- *\
Custome properties start
\*-------------------- */

:root{
  --main-color: #2E3192;
  --second-color: #EC1D25;
  --third-color: #02602C;
  --forth-color: white;
  --main-dark-color: #161a7e;
  --main-light-color: #f5f5ff57;
}





/* ------------------- *\
-------Common CSS-------
\*-------------------- */
.txt-color-a{
  color: var(--main-color);
}

.txt-color-b{
  color: var(--second-color);
}
.txt-color-c{
  color: var(--third-color);
}

.txt-color-d{
  color: var(--forth-color);
}

.text-justify{
  text-align: justify;
}

/* .link{
  color: ;
} */








@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
